<template>
    
    <body>
        <main class="uk-animation-fade">
            <h1 style="text-align: center; padding: 20px; margin: 30px;">TheBlogNba</h1>
            <div class="container">
                <div class="div1">
                    <img style="width: 75%; border-radius: 25px; padding: 20px;" src="https://img.zcool.cn/community/0194da5bd1ab01a801213dea6888bc.jpg?x-oss-process=image/auto-orient,1/resize,m_lfit,w_1280,limit_1/sharpen,100" alt="">
                    <aside style="width: 25%; font-size: 1.4em;" class="aside">
                        <section>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, aliquam est? In, possimus. At id repellendus, mollitia saepe natus aliquid error aperiam eius tempora eos nobis, quo distinctio, doloremque ducimus.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, aliquam est? In, possimus. At id repellendus, mollitia saepe natus aliquid error aperiam eius tempora eos nobis, quo distinctio, doloremque ducimus.
                        </section>
                        <section>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, aliquam est? In, possimus. At id repellendus, mollitia saepe natus aliquid error aperiam eius tempora eos nobis, quo distinctio, doloremque ducimus.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, aliquam est? In, possimus. At id repellendus, mollitia saepe natus aliquid error aperiam eius tempora eos nobis, quo distinctio, doloremque ducimus.
                        </section>
                        <section>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, aliquam est? In, possimus. At id repellendus, mollitia saepe natus aliquid error aperiam eius tempora eos nobis, quo distinctio, doloremque ducimus.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, aliquam est? In, possimus. At id repellendus, mollitia saepe natus aliquid error aperiam eius tempora eos nobis, quo distinctio, doloremque ducimus.
                        </section>
                    </aside>
                </div>
                
            </div>
        </main>
    </body> 
    

</template> 

<script setup lang="ts">


</script>
    
<style scoped>

    body,* {
        background-color: rgb(155, 3, 3);
        margin: 0px;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }


    aside {
        padding-left: 15px;
        margin-left: 15px;
        float: right;
    }

    section {
        margin: 10px;
        padding: 10px;
    }

    .div1 {
        display: flex;
        justify-content: space-evenly;
    }

    @media only screen and (max-width: 1300px) {
        .div1 {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

        

        .aside {
            width: 100% !important;
        }
    }

</style>