<template>

  <body class="bodiv uk-animation-fade">
    
    <div>
      <form @submit.prevent="handleSignup()">
        <label for="fname">Email</label>
        <input v-model="email" type="text" id="fname" name="firstname" placeholder="mail d'authentification">
    
        <label for="lname">Password</label>
        <input v-model="password" type="text" id="lname" name="lastname" placeholder="mot de passe">
    
        <input type="submit" value="Submit">
      </form>
    </div>
    
  </body> 
      
</template>
   
<script setup lang="ts">
import { useAuth } from '@/stores/auth';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const auth = useAuth();
const email = ref('');
const password = ref('');

async function handleSignup() {
    const newUser = {
        email: email.value,
        password: password.value,
    };

    try {
        await auth.signup(newUser);
        router.back();  
    } catch (error) {
        alert("Adresse ou mots de passe non valide");
    }
}

      
</script>
      
<style scoped>
    
    body {
        height: 100vh;
        background-image:url(https://cdn.sortiraparis.com/images/80/66131/974637-nba-2k24-notre-avis-sur-le-jeu-de-basket-ball-signe-2k.jpg);
        background-size: cover;
    }
    
    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: 100%;
      background-color:rgba(0, 7, 99, 0.929);
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color:  rgb(155, 3, 3);
    }
    
    div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
      
</style>
      