<template>

<div class="center-div bodiv uk-animation-fade">

    <form @submit.prevent="handleLogin()" style="margin: 50px;">
    
        <label for="psswd" style="color: white; margin: 10px; padding: 10px;">Email</label>
        <input v-model="email" type="text" id="psswd">
        <label style="color: white; margin: 10px; padding: 10px;" for="mdp">Password</label>
        <input v-model="password" type="text" id="mdp"> 
        <button style="padding: 10px;">Connexion</button>    
    </form>

</div>

<div style="margin-top: 30px; margin-bottom: 10px; display: flex; justify-content: center;" >
    <button style="padding: 10px;">
        <router-link to="/inscription" style="text-decoration: none;">Inscription</router-link>
    </button>
</div>

<div class="center-div bodiv uk-animation-fade">
    <img src="https://www.sporteasy.net/app/uploads/2023/09/bg-basketball.jpg" alt="">
</div>

</template>

<script setup lang="ts">

import { useAuth } from '@/stores/auth';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const auth = useAuth();
const email = ref('');
const password = ref('');

async function handleLogin() {
    await auth.login(email.value, password.value);
    router.push("/");
}

</script>
  
<style scoped>

.center-div
{
  display: flex;
  justify-content: center;
}

input[type=text] {  
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: white;
  color: rgb(0, 0, 0);
}


</style>