<template>
    
    <body class="bodiv uk-animation-fade" id="body">
        <div>
            <img src="https://img.freepik.com/photos-gratuite/homme-plein-plan-jouant-au-basket-ball_23-2150910772.jpg?t=st=1713040294~exp=1713043894~hmac=511d50f1c4125859e24a7618043bd358dde2fb2f83779c63ef4f179ecac9f7c4&w=1380" alt="image basketball">
        </div>
            <h1 style="text-align: center; margin: 20px; padding: 20px; font-size: 3em; color: white; text-transform: uppercase;">Players</h1>
        <PlayersList></PlayersList>
        <br><br>
        <button><a style="text-decoration: none;" href="#body"> Back to top </a></button>
        
    </body>
    
</template>
  
<script setup lang="ts">

import PlayersList from "@/components/PlayersList.vue";
  
</script>
  
<style scoped>

    body, * {
        height: auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    img {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        padding: 10px 50px;
        font-size: 1em;
        margin: auto;
        text-decoration: none;
        display: block;
        border: 1px solid;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.356);
      }

      button:hover {
        
        background-color: rgb(255, 255, 255);
        color: black;
      }
     
  
</style>
  