<template>
 
   <Bodycomp>
      <Bodyteam></Bodyteam>
   </Bodycomp>
  
</template>
  
<script setup lang="ts">
import Bodycomp from '@/components/Bodycomp.vue';
import Bodyteam from '@/components/Bodyteam.vue';
  
</script>
  
<style scoped>
  
  
</style>
  