<template>

    <body class="bodiv uk-animation-fade">

        <div>
            <img src="https://cdn.nba.com/manage/2023/01/nba-logo-court-iso.jpg" alt="logo-img">
        </div>

        <div v-if="Team" class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-paddind uk-animation-slide-left" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img :src="Team.image" alt="cityImage" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h1 style="font-size: 3em;" class="uk-card-title">{{ Team.name }}</h1> 
                    <p style="font-size: 1.9em;">{{ Team.description }}</p>
                    <button @click="handleDelete()">Delete</button>
                    <button @click="editing = !editing">Update</button>
                    <FormUpd class="bodiv uk-animation-fade" v-if="editing" :initial-team="Team" @submit="handleSub($event)" style="border-radius: 10px;"></FormUpd>
                </div>
            </div>
        </div>

    </body>


</template>
  
<script setup lang="ts">
import { deleteTeam, fetchOneTeams, updateTeam, } from '@/services/Players-services';
import type { Teams } from '@/entities';
import { ref, watch } from 'vue';
import {  useRoute, useRouter } from 'vue-router';
import FormUpd from '@/components/FormUpd.vue';



const route = useRoute();
const router = useRouter();

const editing = ref(false);

const Team = ref <Teams>();


watch(() => route.params.id, async () => {
Team.value = await fetchOneTeams(route.params.id);
}, {immediate:true});


async function handleDelete() {
    await deleteTeam(Team.value?.id)
    router.push('/Teams');
}

async function handleSub(updated:Teams) {
    await updateTeam(updated);
    Team.value = updated;
    editing.value = false;
}
  
</script>
  
<style scoped>

body {
    background-color: rgb(155, 3, 3);
}

img {
    width: 100%;
    height: 45vh;
}

button {
  background-color: rgba(0, 7, 99, 0.929); 
  border: none;
  color: white;
  margin: 20px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
    background-color: rgb(121, 3, 3);
    color: black;
}

</style>