<template>

  <body class="bodiv uk-animation-fade">
    <h1 style="text-align: center; margin: 50px;">TEAMS</h1>
    <slot></slot>
    <Form style="margin: 100px;"></Form>
    
  </body>

</template>
  
<script setup lang="ts">
import Form from './Form.vue';

 
</script>
  
<style scoped>


*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}
  
  
</style>