<template>

<body>
  <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-text-center font" uk-grid>
      <div v-for="item of team">
          <div class="uk-card uk-card-default uk-card-body font">{{ item.name }}</div>
          
          <RouterLink :to="'/TeamCard/' + item.id" class="card-link"><button>Click me</button></RouterLink>
      </div>
  </div>
</body>  

  
</template>
  
<script setup lang="ts">
import type { Teams } from '@/entities';
import { fetchTeams } from '@/services/Players-services';
import { onMounted, ref } from 'vue';

const team = ref<Teams[]>([]);


onMounted(async () => {
  team.value = await fetchTeams();
});

  
</script>
  
<style scoped>

    .font  {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 1.6em;
      border-radius: 10px;
      color: black;
    }

button {
  background-color: rgba(0, 7, 99, 0.929); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 7, 99, 0.929);
}

  
</style>
  