<template>

<div class="uk-section uk-section-secondary colr">
    <div class="uk-container">

        <h3>Section Secondary</h3>

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
        </div>

    </div>
</div>

</template>
  
<script setup lang="ts">

  
</script>
  
<style scoped>

* {
    font-size: 1.4rem;
}

    .colr {
        background-color: rgba(0, 7, 99, 0.929);
        color: white;
    }
  
</style>
  