<template>

<body>

<p style="text-align: center; font-size: 1.5em;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae quo eos dolore, suscipit accusamus, asperiores perspiciatis soluta numquam provident odit optio aperiam dolorum quibusdam mollitia ipsam doloribus aspernatur ut harum.</p>

<div class="container">
    <form @submit.prevent="handleSubmit()" style="text-align: center;">
        <div class="row">
            <div class="col-25">
            <label for="fname" class="lbcolor">Team</label>
            </div>
            <div class="col-75">
            <input v-model="team.name" type="text" id="fname" name="firstname" placeholder="Team isma :)">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
            <label class="lbcolor" for="lname">Image</label>
            </div>
            <div class="col-75">
            <input v-model="team.image" type="text" id="lname" name="lastname" placeholder="URL image">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
            <label class="lbcolor" for="subject">Description</label>
            </div>
            <div class="col-75">
            <textarea v-model="team.description" id="subject" name="subject" placeholder="Bla bla bla.." style="height:200px"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
    <div v-if="team.id">
        <p>Team add <Router-link :to="'/TeamsCard/'+team.id"></Router-link> </p>
    </div>
</div>

</body>

  
</template>
  
<script setup lang="ts">
import { fetchTeams, postCom } from '@/services/Players-services';
import type { Teams } from '@/entities';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();


const team = ref<Teams>({
    name:'',
    description:'',
    image:'',
});


async function handleSubmit() {
    const added = await postCom(team.value);
    fetchTeams();
    window.location.reload();
}



</script>
  
<style scoped>

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: rgb(155, 3, 3);;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: rgba(0, 7, 99, 0.929);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
  
.lbcolor {
    color: black;
    font-size: 2em;
}

</style>