<template>

    <div>
        <nav class="uk-navbar-container divp">
            <div class="uk-container">
                <div uk-navbar>

                    <div class="uk-navbar-center">

                        <div class="uk-navbar">
                            <ul class="uk-navbar-nav">
                                <li class="uk-active"><Router-Link id="lip" to="/" active-class="active">Home</Router-Link></li>
                            </ul>
                        </div>

                        <div class="uk-navbar">
                            <ul class="uk-navbar-nav">
                                <li class="uk-active"><Router-Link v-if ="!auth.user" id="lip" to="/login" active-class="active">Space</Router-Link></li>
                                <button @click="auth.logout()" v-if = "auth.user">LOGOUT</button>
                            </ul>
                        </div>
                        
                        <div class="uk-navbar">
                            <ul class="uk-navbar-nav">
                                <li><Router-Link to="/players" active-class="active" class="pn" >Players</Router-Link></li>
                                <li><Router-Link to="/Teams" active-class="active" class="pn">Teams</Router-Link></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </nav>
    </div>

</template> 

<script setup lang="ts">
import { useAuth } from '@/stores/auth';


const auth = useAuth () ;
    
    
</script>
    
<style scoped>

    template {
        background-color: black;
    }

    .divp {
        background-color: rgba(0, 7, 99, 0.929);
    }

    #lip , .pn {
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 2em;
    }

    button {
  background-color: rgb(155, 3, 3);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
</style>