
<template>

 <div>
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin cart" uk-scrollspy="cls:uk-animation-fade" uk-grid v-for="play of plays">
            <div class="uk-card-media-left uk-cover-container">
              <img :src="play.image" alt="playerImage" uk-cover>
              <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                  <h1>Blaze: {{ play.name}}</h1>
                  <h2>{{ play.position }}</h2>
                  <h3 style="font-size: 2.5em;">Team: {{ play.team.name }}</h3>
                </div>
            </div>
    </div>
 </div>
  
</template>
  
<script setup lang="ts">

import type { Players } from '@/entities';
import { fetchPlayers } from '@/services/Players-services';
import { onMounted, ref } from 'vue';

const plays = ref<Players[]>([]);
console.log(fetchPlayers());


onMounted(async () => {
  plays.value = await fetchPlayers();
});


  
  
</script>
  
<style scoped>

  .cart {
    width: 80%;
    margin: auto;
    border-radius: 20px;
  }
  
</style>