<template>

  <div style="background-color: rgb(155, 3, 3);">
    <Header></Header>
    <router-view></router-view>
    <Footer style="margin-top: 50px;"></Footer>
  </div>

</template>

<script setup lang="ts">
import {  RouterView, useRoute, useRouter } from 'vue-router';
import Header from './components/Header.vue';
import Footer from "@/components/Footer.vue";


</script>

<style scoped>

</style>
